* {
    border: 2px solid red;
}

.play-area {
    position: fixed;
    height: fit-content;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.play-area > * {
    position: relative;  
}